@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Entregando SAS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt corrupti sit saepe excepturi dolor delectus ea? Autem, ratione delectus repudiandae culpa quos, ipsum repellat libero quibusdam aliquid commodi maiores vel.</p>
</div>
